footer {
  background: #111;
  padding: 0;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

/* SLIDER RESPONSIF */
.slider {
  overflow: hidden;
  position: relative;
  width: 450%; /* Lebar penuh mengikuti navbar */
  height: auto;
}

/* TRACK bergerak */
.slide-track {
  display: flex;
  width: calc(200px * 5); /* total gambar */
  animation: scroll 5s linear infinite;
}

/* SETIAP SLIDE */
.slide {
  width: 500px;
  flex-shrink: 0;
  padding: 5px;
}

.slide img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* ANIMASI BERGERAK */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Footer teks */
.footer-text {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}